<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        <title>Redirect Form</title>
    </head>

    <body>
        <form method="{{ method }}" action="{{ url }}" style="display:none">
            {% for key, val in values.items() %}
                <input name="{{ key }}" value="{{ val }}">
            {% endfor %}

            <input id="submit" type="submit">
        </form>

        <script>
            document.getElementById("submit").click();
        </script>
    </body>
</html>